[MASTER]
load-plugins = pylint_django
django-settings-module = config.settings

[FORMAT]
max-line-length = 100

[MESSAGES CONTROL]
disable = missing-docstring,
          too-few-public-methods,
          missing-module-docstring,
          missing-class-docstring,
          missing-function-docstring,
          import-outside-toplevel,
          duplicate-code,
          invalid-name,
          too-many-locals,
          global-statement,
          superfluous-parens,
          broad-exception-caught
